.cart-container {
    margin-top: 90px;
    padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 0px;
}

.height90 {
    height: 90px;
}

.img-blck {
    height: 160px;
    padding: 10px 20px;
}

.title-style {
    font-size: 14px;
    font-weight: 600;
}

.margin-t {
    margin-top: 6px;
}

.rating-style {
    padding: 2px 8px;
    background-color: green;
    display: flex;
    width: 40px;
    font-size: 14px;
    border-radius: 5px;
}

.display-flex-stylelist {
    display: flex;
    align-items: center;
}

.grid-item {
    /* background-color: #ddd; */
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3); */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

/* For 3 columns */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For 2 columns */
@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For 1 column */
@media screen and (max-width: 320px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}