.cat-block {
    margin-top: 50px;
    height: 100px;
    border: 1px solid red;
}

.category-list {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.category-list::-webkit-scrollbar {
    width: 0;
    /* hide the scrollbar in WebKit browsers */
}


.category-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.category-list li {
    display: inline-block;
    margin-right: 20px;

}

.category-list li:last-child {
    margin-right: 0;
}